<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light flex-md-row bd-navbar">
        <a class="navbar-brand" [routerLink]="['/inicio']"> <img src="/assets/logo_navbar.png"  height="30" alt="" loading="lazy"></a>
        <button data-toggle="collapse"
            class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav ml-auto" style="box-shadow: 0px 0px;">
                <li class="nav-item"><a class="nav-link" [routerLink]="['/inicio']">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/productos']">Productos</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/contacto']">Contacto</a></li>
            </ul>
        </div>
</nav>