<main class="text-center page landing-page">
    <section class="clean-block clean-info dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Tu mejor estilo</h2>
                <img src="assets/img/promo_2.jpeg" class="img-fluid" alt="Responsive image" style= "width: 1000px" >
            </div>
        </div>
    </section>
    <section class="clean-block about-us">
        <div class="container">
            <!--iv class="block-heading">
                <h2 class="text-info">About Us</h2>
                <p>Aqui puede ir algo acerca del negocio</p>
            </div-->
        </div>
    </section>
    <section class="clean-block features">
        <!-- Start: Bold BS4 Gallery with Image Thumbnails Style -->
        <div class="container">
            <h1>Categorias de productos</h1>
            <div class="row text-center text-lg-left">
                <div class="col-6 col-md-4 col-lg-3"><a class="d-block mb-4 h-100" href="Zapatos/zapatos.html"><img class="img-thumbnail img-fluid" src="/assets/img/tech/IMG-20201007-WA0045.jpg?h=4698a9124e213b3481284ea001fb6a82" alt=" "><h1 style="text-align: center;color: rgba(0,0,0,0.9);">Tennis</h1></a></div>
                <div class="col-6 col-md-4 col-lg-3"><a class="d-block mb-4 h-100" href="#"><img class="img-thumbnail img-fluid" alt=" " src="/assets/img/IMG-20201003-WA0060.jpg?h=b308c4aa4a53ecf4817c2ce520714cd5"><h1 style="text-align: center;color: rgba(0,0,0,0.9);">Ropa</h1></a></div>
                <div class="col-6 col-md-4 col-lg-3"><a class="d-block mb-4 h-100" href="#"><img class="img-thumbnail img-fluid" alt=" " src="/assets/img/IMG-20201013-WA0100.jpg?h=423173a75db98a79ffc0fab2c999bcc0"><h1 style="text-align: center;color: rgba(0,0,0,0.9);">Relojes</h1></a></div>
                <div class="col-6 col-md-4 col-lg-3"><a class="d-block mb-4 h-100" href="#"><img class="img-thumbnail img-fluid" alt=" " src="/assets/img/gorras.jpg?h=612f405d9a46d90715610470303401ab"><h1 style="text-align: center;color: rgba(0,0,0,0.9);">Gorras</h1></a></div>
                <div class="col-6 col-md-4 col-lg-3"><a class="d-block mb-4 h-100" href="#"><img class="img-thumbnail img-fluid" alt=" " src="/assets/img/bolsos.jpg?h=24656eef4a663a71db2c432faa6692cd"><h1 style="text-align: center;color: rgba(0,0,0,0.9);">Bolsos</h1></a></div>
                <div class="col-6 col-md-4 col-lg-3"><a class="d-block mb-4 h-100" href="#"><img class="img-thumbnail img-fluid" alt=" " src="/assets/img/botas_1.jpg?h=4d942abf383d80d5378a5de24b03bfd9"><h1 style="text-align: center;color: rgba(0,0,0,0.9);">Zapatos y botas</h1></a></div>
                <div class="col-6 col-md-4 col-lg-3"><a class="d-block mb-4 h-100" href="#"><img class="img-thumbnail img-fluid" alt=" " src="/assets/img/IMG-20200918-WA0011.jpg?h=1f70a74c7a08cd39809d276b1d603122"><h1 style="text-align: center;color: rgba(0,0,0,0.9);">Ropa deportiva</h1></a></div>
                <div class="col-6 col-md-4 col-lg-3"><a class="d-block mb-4 h-100" href="#"><img class="img-thumbnail img-fluid" alt=" " src="/assets/img/lentes_sol.jpg?h=1cce6b191d41a46b87d82c683280f7df"><h1 style="text-align: center;color: rgba(0,0,0,0.9);">Lentes</h1></a></div>
                <div class="col-6 col-md-4 col-lg-3"><a class="d-block mb-4 h-100" href="#"><img class="img-thumbnail img-fluid" alt=" " src="/assets/img/aridots.jpg?h=1c2a13a157eb6022340494b54ceab760"><h1 style="text-align: center;color: rgba(0,0,0,0.9);">Inpods &amp; Airdots</h1></a></div>
                <div class="col-6 col-md-4 col-lg-3"><a class="d-block mb-4 h-100" href="#"><img class="img-thumbnail img-fluid" alt=" " src="/assets/img/bocinas.jpg?h=c4c0410d077606815112f6e25d73c65b"><h1 style="text-align: center;color: rgba(0,0,0,0.9);">Bocinas</h1></a></div>
                <div class="col-6 col-md-4 col-lg-3"><a class="d-block mb-4 h-100" href="#"><img class="img-thumbnail img-fluid" alt=" " src="/assets/img/mochilas.jpg?h=4c24304ccf380876bb4085ad58bec4df"><h1 style="text-align: center;color: rgba(0,0,0,0.9);">Mochilas</h1></a></div>
                <div class="col-6 col-md-4 col-lg-3"><a class="d-block mb-4 h-100" href="#"><img class="img-thumbnail img-fluid" alt=" " src="/assets/img/paraguas.jpg?h=50e0f4e9183b90d89801aa293ea3524a"><h1 style="text-align: center;color: rgba(0,0,0,0.9);">Paraguas</h1></a></div>
                <div class="col-6 col-md-4 col-lg-3"><a class="d-block mb-4 h-100" href="#"><img class="img-thumbnail img-fluid" alt=" " src="/assets/img/importado.jpg?h=621c5ac6c0a7a09db056f6e9752e1983"><h1 style="text-align: center;color: rgba(0,0,0,0.9);">Productos importados</h1></a></div>
            </div>
        </div>
        <!-- End: Bold BS4 Gallery with Image Thumbnails Style -->
    </section>
</main>