<section class="clean-block clean-info dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Tu mejor estilo</h2>
            <p>Aqui va información sobre la tienda</p>
            <img src="https://raw.githubusercontent.com/robotech412/Online-StoreTME/development/images/logo_navbar.jpg?token=AONR4FUO2SGCUMBA4VHE72S7UREMK" alt="">
        </div>
    </div>
</section>
<section class="clean-block about-us">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">About Us</h2>
            <p>Aqui mostraremos datos sobre opiniones de clientes.</p>
        </div>
    </div>
</section>