<div>
  <app-navbar></app-navbar>
</div>
<div class="row">

  <!--Grid column-->
  <div class="col-lg-5 mb-4">

    <!--Form with header-->
    <div class="card">

      <div class="card-body">
        <!--Header-->
        <div class="form-header blue accent-1">
          <h3> AQUI ENCONTRARAS:</h3>
        </div>

        <p>Los Mejores precios y calidad en los productos.</p>
        <br>

        <!--Body-->
        <div class="md-form">

          <input type="text" id="form-name" class="form-control">
          <label for="form-name">
            <p CENTER> Nombre </p>
          </label>
        </div>

        <div class="md-form">

          <input type="text" id="form-email" class="form-control">
          <label for="form-email"> Correo Electronico </label>
        </div>

        <div class="md-form">

          <input type="text" id="form-Subject" class="form-control">
          <label for="form-Subject">Asunto</label>
        </div>

        <div class="md-form">
          <i class="fas fa-pencil-alt prefix grey-text"></i>
          <textarea id="form-text" class="form-control md-textarea" rows="3"></textarea>
          <label for="form-text">Mensaje</label>
        </div>

        <div class="text-center mt-4">
          <button type="submit" class="btn btn-warning" id="1"> Enviar</button>

        </div>

      </div>

    </div>
    <!--Form with header-->

  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-lg-7">


    <!--Google map-->
    <div id="map-container-google-11" class="z-depth-1-half map-container-6" style="height: 400px">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7488.629752693251!2d-90.12086030792398!3d20.204232445536814!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85f87b0935fead53%3A0x255d0056f6d6e0a3!2sSanta%20Cruz%2C%20Camp.!5e0!3m2!1ses-419!2smx!4v1602751936540!5m2!1ses-419!2smx"
        width="700" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
    </div>

    <br> <br> <br> <br>
    <br> <br>


    <!--Buttons-->
    <div class="row text-center">
      <div class="col-md-4">
        <a class="btn-floating blue accent-1"><i class="fas fa-map-marker-alt"></i></a>
        <p>Santa Cruz, Hecelchakan Camp</p>
        <p> Campeche</p>
      </div>

      <div class="col-md-4">
        <a class="btn-floating blue accent-1"></a>
        <p> CEL: +52 9961061240</p>
        <p>LUN - SAB, 8:00 AM - 20:00 PM </p>
      </div>

      <div class="col-md-4">
        <a class="btn-floating blue accent-1"></a>
        <p> chr.pbaldair@gemail.com</p>
        <p>TMEtumejorestilo@gmail.com</p>
      </div>
    </div>

  </div>
  <!--Grid column-->

</div>