:host{
 display: flex;
 justify-content: center;
 margin: 100px 0;   
}

mat-form-field{
    width: 100%;
    min-width: 300px; /* original 300px*/
}

mat-card-title{
text-align: center;
font-size: 40px;
display: center;
justify-content: center;
}

cat-card-content{
    display: flex;
    justify-content: center;
}

button{
    width: 100%;
}

mat-card{
    width: 500px;
    height: 300px;
}