<header>
  <nav class="navbar navbar-light navbar-expand-md fixed-top bg-light" style="box-shadow: 0px 0px 5px">
      <div class="container"><a class="navbar-brand text-uppercase logo" href="#" style="font-family: Cookie, cursive;color: rgb(0,0,0);font-size: 24px;text-align: center;"><strong>&nbsp;</strong><img src="/assets/img/Logo.jpg?h=2a2d844f2eda2b6a0e4537d7b93a5754" style="width: 200px;"><br></a><button data-toggle="collapse"
              class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navcol-1">
              <ul class="nav navbar-nav ml-auto" style="box-shadow: 0px 0px;">
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/inicio']">INICIO</a></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/productos']">PRODUCTOS</a></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/contacto']">CONTACTO</a></li>
              </ul>
          </div>
      </div>
  </nav>
  </header>

<body fxFlexAlign="center">
  <mat-card fixed-center>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
        <p>
          <mat-form-field>
            <input type="text" style="font-size: 20px; " matInput placeholder="Usuario/Correo"
              formControlName="email" />
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="text" style="font-size: 20px;  " matInput placeholder="Contraseña"
              formControlName="password" />
          </mat-form-field>
        </p>
        <button type="submit" style="font-size: 20px; " mat-raised-button color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</body>