<div>
  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-light clean-navbar">
    <a class="navbar-brand" [routerLink]="['/inicio']"> <img src="/assets/logo_navbar.png"  height="30" alt="" loading="lazy"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link text-dark" [routerLink]="['/inicio']">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" [routerLink]="['/productos']">Productos</a>
        </li>
            
            <li class="nav-item">
                <a class="nav-link text-dark" [routerLink]="['/contacto']">Contacto</a>
            </li>
        </ul>
    </div>
</nav>
<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <p>
        <mat-form-field>
          <input type="text" style="font-size: 20px; "matInput placeholder="Usuario/Correo" formControlName="email" />
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="text"style="font-size: 20px;  "matInput placeholder="Contraseña" formControlName="password" />
        </mat-form-field>
      </p>
      <button type="submit" style="font-size: 20px; "mat-raised-button color="primary">Login</button>
    </form>
  </mat-card-content>
</mat-card>
</div>
