<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-md-2 col-xl-2 bd-sidebar">
            <form role="search" class="bd-search d-flex align-items-center">
                <span class="algolia-autocomplete"
                    style="position: relative; display: inline-block; direction: ltr;">
                    <h5>Categorías</h5>    
                </span>
                <button class="btn bd-search-docs-toggle d-md-none p-0 ml-3 collapsed" type="button"
                    data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav"
                    aria-expanded="false" aria-label="Toggle docs navigation"><svg
                        xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"
                        focusable="false">
                        <title>Menu</title>
                        <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
                            d="M4 7h22M4 15h22M4 23h22"></path>
                    </svg></button>
            </form>
            <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation">
                <div class="bd-toc-item">
                    <a [routerLink]="['/Productos']" class="bd-toc-link">Zapatos</a>
                </div>
                <div class="bd-toc-item">
                    <a [routerLink]="['/Ropa']" class="bd-toc-link">Ropa</a>
                </div>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" href="#">
                        Reloj
                    </a>
                </div>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" href="#">
                        Utilidades
                    </a>
                </div>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" href="#">
                        Varios
                    </a>
                </div>
            </nav>
  
        </div>
  
        <main class="col-md-10 ml-sm-auto py-md-3 pl-md-3 col-xl-10 px-md-4 py-2" role="main">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Zapatos</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group">
                    <form class="form-inline mt-2 mt-md-0">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Buscar Productos" aria-label="Buscar" aria-describedby="button-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" id="button-addon2"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                              </svg></button>
                            </div>
                          </div>
                    </form>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let producto of productos">
                    <div class="card mb-4 shadow-sm">
                        <div data-v-faf66ea8="" class="bd-placeholder-img card-img-top p-sm-3 p-4">
                            <img data-v-faf66ea8="" src={{producto.image}} alt="" class="mx-auto d-block img-fluid">
                        </div>
                      <div class="card-body">
                        <p class="card-text">{{producto.descripcion}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a [routerLink]="['/productos/detalles', producto.id_producto]" class="btn btn-sm btn-outline-secondary">Ver detalles</a>
                            <button class="btn btn-default" (click)="deleteProducto(producto.id_producto)"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                              </svg></button>
                              <button [routerLink]="['/productos/edit', producto.id_producto]" class="btn btn-default"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                              </svg></button>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<app-footer></app-footer>