<!-- Toolbar -->

  
  <div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <div class="col-md-2 col-xl-2 bd-sidebar">
  
            <form role="search" class="bd-search d-flex align-items-center">
                <span class="algolia-autocomplete"
                    style="position: relative; display: inline-block; direction: ltr;">
                    <h5>Categorías</h5>    
                </span>
                <button class="btn bd-search-docs-toggle d-md-none p-0 ml-3 collapsed" type="button"
                    data-toggle="collapse" data-target="#bd-docs-nav" aria-controls="bd-docs-nav"
                    aria-expanded="false" aria-label="Toggle docs navigation"><svg
                        xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"
                        focusable="false">
                        <title>Menu</title>
                        <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"
                            d="M4 7h22M4 15h22M4 23h22"></path>
                    </svg></button>
            </form>
            <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation">
                <div class="bd-toc-item">
                    <a [routerLink]="['/Productos']" class="bd-toc-link">Zapatos</a>
                </div>
                <div class="bd-toc-item">
                    <a [routerLink]="['/Ropa']" class="bd-toc-link">Ropa</a>
                </div>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" href="#">
                        Reloj
                    </a>
                </div>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" href="#">
                        Utilidades
                    </a>
                </div>
                <div class="bd-toc-item">
                    <a class="bd-toc-link" href="#">
                        Varios
                    </a>
                </div>
            </nav>
  
        </div>
  
  
        <main class="col-md-10 ml-sm-auto py-md-3 pl-md-3 col-xl-10 px-md-4 py-2" role="main">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Zapatos</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group">
                    <form class="form-inline mt-2 mt-md-0">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Buscar Productos" aria-label="Buscar" aria-describedby="button-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary" type="button" id="button-addon2"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                              </svg></button>
                            </div>
                          </div>
                    </form>
                  </div>
                </div>
              </div>
            <div class="row">
  
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">
                     
                        <div data-v-faf66ea8="" class="bd-placeholder-img card-img-top p-sm-3 p-4">
                            <img data-v-faf66ea8="" src="https://drive.google.com/uc?export=view&id=1Wtt7HqUCwAQx25sraTgfvA7EToIoDifn" alt="" class="mx-auto d-block img-fluid">
                        </div>
                      <div class="card-body">
                        <p class="card-text">Tenis casual para complementar tu outfit diario</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a [routerLink]="['/Detalles']" class="btn btn-sm btn-outline-secondary">Ver detalles</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">
                        <div data-v-faf66ea8="" class="bd-placeholder-img card-img-top p-sm-3 p-4">
                            <img data-v-faf66ea8="" src="https://drive.google.com/uc?export=view&id=16_ph1x3f8MS7oydGHs2olLkscK1CetpV" alt="" class="mx-auto d-block img-fluid">
                        </div>
                      <div class="card-body">
                        <p class="card-text">Tenis Nike brinda un look para impulsar tu estilo a máxima velocidad.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a [routerLink]="['/Detalles']" class="btn btn-sm btn-outline-secondary">Ver detalles</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
  
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">
                        <div data-v-faf66ea8="" class="bd-placeholder-img card-img-top p-sm-3 p-4">
                            <img data-v-faf66ea8="" src="https://drive.google.com/uc?export=view&id=17IGiPi2jBfjaZaaGXDnfVQaz2vpAxeZI" alt="" class="mx-auto d-block img-fluid">
                        </div>
                      <div class="card-body">
                        <p class="card-text">Tenis casual-deportivo, para uso diario, en situaciones 
                          especificas.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a [routerLink]="['/Detalles']" class="btn btn-sm btn-outline-secondary">Ver detalles</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
  
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">
                        <div data-v-faf66ea8="" class="bd-placeholder-img card-img-top p-sm-3 p-4">
                            <img data-v-faf66ea8="" src="https://drive.google.com/uc?export=view&id=1Hs0u12cv-kTGVyKS3eFXvmupirXTu6QY" alt="" class="mx-auto d-block img-fluid">
                        </div>
                      <div class="card-body">
                        <p class="card-text">Tenis Nike para realizar deporte.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a [routerLink]="['/Detalles']" class="btn btn-sm btn-outline-secondary">Ver detalles</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">
                        <div data-v-faf66ea8="" class="bd-placeholder-img card-img-top p-sm-3 p-4">
                            <img data-v-faf66ea8="" src="https://drive.google.com/uc?export=view&id=1hZGh2KM216T6HQlRrSzMVbwJYGBFzveA" alt="" class="mx-auto d-block img-fluid">
                        </div>
                      <div class="card-body">
                        <p class="card-text">Diseñado para las personas que tienen el gusto por los tenis y el anime, inspirados en modelos de running.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a [routerLink]="['/Detalles']" class="btn btn-sm btn-outline-secondary">Ver detalles</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">
                        <div data-v-faf66ea8="" class="bd-placeholder-img card-img-top p-sm-3 p-4">
                            <img data-v-faf66ea8="" src="https://drive.google.com/uc?export=view&id=1qVvsg6T08MhCiI8ZtvfeMxKIySIqsPkp" alt="" class="mx-auto d-block img-fluid">
                        </div>
                      <div class="card-body">
                        <p class="card-text">Tenis Casual para complementar tu outfit diario. Con  un diseño llamativo.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a [routerLink]="['/Detalles']" class="btn btn-sm btn-outline-secondary">Ver detalles</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">
                        <div data-v-faf66ea8="" class="bd-placeholder-img card-img-top p-sm-3 p-4">
                            <img data-v-faf66ea8="" src="https://drive.google.com/uc?export=view&id=1dqyQ-whIZYeHDkstf163fCe9sHhIcnaN" alt="" class="mx-auto d-block img-fluid">
                        </div>
                      <div class="card-body">
                        <p class="card-text">Tenis deportivo-casual, con tonos llamativos, comodidad gracias a su tecnología Nike reac.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a [routerLink]="['/Detalles']" class="btn btn-sm btn-outline-secondary">Ver detalles</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="card mb-4 shadow-sm">
                        <div data-v-faf66ea8="" class="bd-placeholder-img card-img-top p-sm-3 p-4">
                            <img data-v-faf66ea8="" src="https://drive.google.com/uc?export=view&id=1exEuvqu4M_diTOc9C4FovumuHROtLk65" alt="" class="mx-auto d-block img-fluid">
                        </div>
                      <div class="card-body">
                        <p class="card-text">Tenis Nike con un modelo casual-deportivo para realizar caminatas.</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a [routerLink]="['/Detalles']" class="btn btn-sm btn-outline-secondary">Ver detalles</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </main>
    </div>
  </div>
