<footer>
    <div class="row">
        <div class="col-sm-6 col-md-4 footer-navigation">
            <h3><a href="#" style="font-family: Aladin, cursive;">&nbsp;<img src="/assets/img/tennis_white.png?h=64e177427a587ceb9a2039e81c8b3623" style="width: 55px;">&nbsp;Tu mejor estilo&nbsp;</a></h3>
            <p class="links"><a routerLink="/Inicio">Home</a><strong> · </strong><a routerLink="/Productos">Productos</a><strong> ·&nbsp;</strong><a routerLink="/Contacto">Contacto</a></p>
            <p class="links"><a routerLink="/Login">Login </a><i class=" fa fa-lock fa-1x" aria-hidden="true"></i></p>
            <p class="company-name">Tu mejor estilo © 2020</p>
        </div>
        <div class="col-sm-6 col-md-4 footer-contacts">
            <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                <p><span class="new-line-span">Calle 20 #31 Santa Cruz</span>Hecelchakán, Campeche</p>
            </div>
            <div><i class="fa fa-phone footer-contacts-icon"></i>
                <p class="footer-center-info email text-left">+52 999 360 1476</p>
            </div>
            <div><i class="fa fa-envelope footer-contacts-icon"></i>
                <p> <a href="#" target="_blank">chr.pbaldair@gmail.com</a></p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-4 footer-about">
            <h5 class="text-center">Contactanos!</h5>
            <p style="font-size: 18px;"> Síguenos por las redes sociales para saber mas de nuestros productos y las novedades que tenemos para ti!</p>
            <div class="social-links social-icons"><a href="https://chat.whatsapp.com/Ke1e9j95pOsAkdC3JC4Wol"><i class="fa fa-whatsapp fa-2x"></i></a><a href="https://www.facebook.com/groups/216564942608381/?ref=share"><i class="fa fa-facebook fa-2x"></i></a></div>
        </div>
    </div>
</footer>




